@media screen and (max-width: 1024px) {
  .header-container .logo {
    margin: 12px 20px;
  }
  nav ul li a {
    font-size: 12px;
    padding: 28px 8px;
  }
  nav ul li .home {
    left: -160px;
  }
  nav ul li .shop {
    left: -460px;
  }
  .contact ul {
    left: -760%;
  }
}
