@font-face {
  font-family: "cyborg";
  src: url("../assets/fonts/cyborg.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oxanium";
  src: url("../assets/fonts/Oxanium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oxanium-L";
  src: url("../assets/fonts/Oxanium-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oxanium-M";
  src: url("../assets/fonts/Oxanium-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100%;
  max-width: 1280px;
}

section {
  width: 100%;
}

.main-1 {
  background-image: url("../images/landing-3.webp");
  background-position: 50% -600px;
  background-repeat: no-repeat;
  width: 100%;
  height: 120vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-1-detail {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0 0px;
  padding: 0 20px;
}

.main-1-detail div {
  width: 50%;
}

.main-subtile {
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Oxanium", sans-serif;
  line-height: 1.25em;
  letter-spacing: 0.05em;
  color: var(--primary);
}

.main-title-1 {
  font-size: 52px;
  text-transform: uppercase;
  font-family: "Oxanium" sans-serif;
  line-height: 1.2em;
  margin: 29px 0px 29px 0px;
}

.main-p {
  font-size: 20px;
  font-family: "Oxanium" sans-serif;
}

.detail-2 .wrapper {
  display: flex;
  max-width: 600px;
  width: 100%;
  height: 500px;
  background: transparent;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.detail-2 .wrapper i.button {
  position: absolute;
  top: 50%;
  margin: 0;
  transform: translateY(-50%);
  height: 36px;
  width: 36px;
  background-color: var(--white);
  text-align: center;
  line-height: 36px;
  color: var(--primary);
  font-size: 15px;
  transition: all 0.3s linear;
  z-index: 100;
  cursor: pointer;
}

.detail-2 .wrapper i.button:hover {
  background-color: var(--secendary);
  color: var(--primary);
}

.detail-2 i.button:active {
  transform: scale(0.94) translateY(-50%);
}

.detail-2 i#prev {
  left: 25px;
}

.detail-2 i#next {
  right: 25px;
}

.detail-2 .image-container {
  height: 100%;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 5px 40px var(--black);
}

.detail-2 .image-container .carousel {
  display: flex;
  height: 100%;
  width: 100%;
  transition: all 0.5s ease-in-out;
  cursor: grab;
}

.detail-2 .carousel img {
  height: 100%;
  width: 100%;
  flex: 0 0 100%;
  border-radius: 18px;
  border: 10px solid transparent;
  object-fit: cover;
}

.main-2-detail {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-2-detail img {
  width: 100%;
  background-size: cover;
  background-position: center;
}

/* page title */
.p-t-container{
  margin-top: 80px;
  margin-bottom: 20px;
  padding: 0 20px;
}
.p-t-container .p-t-h1 {
  text-transform: uppercase;
}
.p-t-container .p-t-h1 span {
  font-style: italic;
  color: var(--primary);
}

/* logo slider */
.logo-slider-section{
  padding: 0 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logos-slider-container{
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  gap: 20px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.logos-slider-container .slide{
  width: 140px;
  height: 80px;
  clip-path: polygon(
    14px 0,
    100% 0,
    100% calc(100% - 14px),
    calc(100% - 14px) 100%,
    0 100%,
    0 14px
  );
}
.logos-slider-container .slide img{
  width: 100%;
  height: 100%;
  padding: 10px;
  object-fit: contain;
  background-color: var(--white);
  transition: all 0.3s ease-in-out;
}
.logos-slider-container .slide img:hover{
  transform: scale(1.1);
}