header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  transform: translateY(0);
  z-index: 9999;
}

.hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.header-container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* logo */
.header-container .logo {
  margin: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo a h2 {
  font-family: 'cyborg';
  font-weight: 100;
  font-size: 20px;
  color: var(--main-color);
}

/* nav */
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  position: relative;
}

nav ul li a {
  display: block;
  font-weight: bolder;
  font-size: 14px;
  padding: 26px 18px;
  font-family: 'Oxanium-M', sans-serif;
}

nav ul li a:hover {
  color: var(--main-color);
  transition: all 0.3s ease;
}

nav ul li a:hover i {
  color: var(--main-color);
  transition: all 0.3s ease;
}

nav ul li a i {
  padding-left: 4px;
}

nav ul li .home {
  top: 100%;
  left: -50%;
  width: 760px;
  display: none;
}

nav ul li .home li {
  display: flex;
  align-content: center;
  align-items: stretch;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  padding: 0px 20px;
}

nav ul li .home a {
  padding: 0;
  position: relative;
  display: inline-block;
}

nav ul li .home a img {
  width: 340px;
  height: 100%;
}

.hover-title {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--main-color);
  color: var(--secendary-bg-color);
  font-weight: bold;
  padding: 4px 10px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  clip-path: circle(0% at 50% 50%);
  transition: clip-path 0.3s ease, opacity 0.3s ease;
}

.hover-title span {
  color: var(--secendary-bg-color);
  font-size: 18px;
}

nav ul li .home a:hover .hover-title {
  opacity: 1;
  clip-path: circle(100% at 50% 50%);
}

nav ul li ul {
  display: none;
  min-width: 260px;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 26px 0;
  background: var(--main-bg-color);
  z-index: 1000;
  animation: fadeIn 0.8s ease;
}

nav ul li:hover>ul {
  display: block;
}

nav ul li ul li {
  width: 100%;
}

nav ul li ul li a {
  padding: 11px 42px;
  display: flex;
  font-weight: 500;
  align-items: center;
  justify-content: space-between;
}

nav ul li ul li a i {
  transform: rotate(270deg);
}

nav ul li ul li a:hover {
  color: var(--main-color);
  transition: all 0.3s ease;
}

nav ul li ul li a:hover i {
  color: var(--main-color);
  transition: all 0.3s ease;
}

nav ul li ul li a h1 {
  color: var(--main-color);
  font-family: "Oxanium", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

nav ul li ul li a i {
  padding-left: 4px;
}

nav ul li ul li ul {
  display: none;
  min-width: 260px;
  position: absolute;
  top: 0%;
  left: 102%;
  padding: 26px 0;
  background: var(--main-bg-color);
  z-index: 1000;
  animation: fadeIn 0.8s ease;
}

nav ul li ul li:hover>ul {
  display: block;
}

nav ul li ul li ul li {
  width: 100%;
}

nav ul li ul li .shop-title {
  font-size: 20px;
  font-weight: bolder;
  padding: 20px 0px;
}

nav ul li ul li .shop-title:hover {
  color: var(--secendary-text-color);
}

nav ul li .shop {
  top: 100%;
  left: -520px;
  width: 760px;
  padding: 26px;
  display: none;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.shop-item-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

nav ul li ul li .shop-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;
}

.shop-item {
  width: 25%;
}

.shop-item {
  display: flex;
  flex-direction: column;
}

.shop-item-name {
  padding-top: 10px;
}

.shop-item-name a {
  padding: 10px 0 10px 0;
  font-size: 16px;
  font-weight: bolder;
}

.shop-item-name i {
  color: var(--main-color);
}

.shop-item-name .shop-item-price {
  color: var(--main-color);
  font-size: 20px;
}

.shop-item-top .Product {
  display: flex;
  flex-direction: column;
}

.Product {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.Product img {
  width: 187px;
  transition: transform 0.3s ease;
}

/* contact */
.contact ul {
  top: 100%;
  left: -620%;
  width: 760px;
  padding: 20px;
  justify-content: space-between;
  background-color: var(--main-bg-color);
  color: var(--secendary-text-color);
  padding: 40px;
}

.contact .contact-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}

.contact li {
  height: 460px;
  font-family: 'Oxanium-M', sans-serif;
}

.contact .contact-1 {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-title {
  font-size: 20px;
  font-weight: bold;
  color: var(--secendary-text-color);
  margin-bottom: 10px;
}

.content-address {
  font-size: 12px;
  color: var(--gray-text-color);
  margin-bottom: 5px;
}

.content-email {
  font-size: 14px;
  color: var(--main-color);
  font-weight: bold;
}

.content-number {
  font-size: 14px;
  color: var(--main-color);
  font-weight: bold;
}

.content-icon i {
  font-size: 20px;
  background: var(--secendary-bg-color);
  padding: 6px;
  margin-right: 10px;
  cursor: pointer;
}

.content-icon i:hover {
  background: var(--main-color);
  color: var(--secendary-bg-color);
  transition: all 0.3s ease;
}

.contact-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 260px;
}

.content-required {
  font-size: 16px;
  font-weight: normal;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input::placeholder {
  color: var(--secendary-text-color);
}

input:focus {
  border: none;
  outline: none;
}

input:focus::placeholder {
  color: transparent;
  transition: all 0.3s ease;
}

textarea::placeholder {
  color: var(--secendary-text-color);
}

textarea:focus {
  border: none;
  outline: none;
}

textarea:focus::placeholder {
  color: transparent;
  transition: all 0.3s ease;
}

.contact-3 {
  width: 32%;
}

input,
textarea {
  font-family: 'Oxanium', sans-serif;
  background: var(--secendary-bg-color);
  border: none;
  padding: 12px;
  margin-bottom: 10px;
  color: var(--secendary-text-color);
  font-size: 14px;
  width: 100%;
  min-width: 260px;
  max-width: 260px;
}

textarea {
  height: 100px;
  min-height: 100px;
  max-height: 148px;
}

.contact button {
  width: 60%;
  background: var(--main-color);
  color: var(--secendary-bg-color);
  font-weight: bold;
  padding: 14px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.contact button:hover {
  outline: 1px solid var(--secendary-text-color)33;
  color: var(--main-color);
  background: transparent;
}

.contact iframe {
  width: 100%;
  height: 100%;
}

/* button */
.button {
  display: inline-block;
  margin: 0px 40px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button button {
  font-family: 'Oxanium', sans-serif;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button button svg {
  fill: var(--secendary-text-color);
  transition: all 0.3s ease-in-out;
}

.button button:hover svg {
  fill: var(--main-color);
}

/* mobile nav */
.icon {
  display: none;
}

.mobile-nav {
  display: none;
}