/* scroll up button */
#scroll_up.active.scroll_up-icon {
    transform: translate(0px, -56px);
}

#scroll_up.active {
    opacity: 1;
}

#scroll_up.scroll_up-icon {
    width: 56px;
    height: 56px;
    font-size: 26px;
    font-weight: normal;
    transform: translate(56px, 0);
    overflow: hidden;
}

#scroll_up {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    top: 100%;
    transform: translate(-30px, 5px);
    background-color: var(--main-bg-color);
}

.wgl-svg-icon svg {
    fill: var(--main-color);
}

#scroll_up:active {
    animation: smoothThenFast 0.6s linear forwards;
}

@keyframes smoothThenFast {
    0% {
        scroll-behavior: smooth;
    }

    40% {
        scroll-behavior: smooth;
    }

    100% {
        scroll-behavior: auto;
    }
}
